{% extends 'polls/base.html' %}

{% block content %}


<form action='' method="POST" id="songform">
{% csrf_token %}    

 {{form.as_p}}


<input type="submit" value='Save'/>
</form>

{% endblock %}


{% block scripts %}

  <script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    $(document).ready(function()
    {
        $('#songform').submit( function(e) {
            console.log("yes")
            e.preventDefault();
            var form_array = $(this).serializeArray();
            form_array.push({ 
            name: 'csrfmiddlewaretoken',
            value: getCookie('csrftoken') 
            });
            $.ajax({
                url: '{% url "create" %}',
                type: 'POST',
                dataType: 'json',
                data: $.param(form_array),
            
                success: function(data) 
                {
                        console.log("success")   // ... do something with the data...
                }
    
            });
    });



    })
  </script>

{% endblock %}