li a {
  color: green;
}

body {
  background: red;
}

button {
  margin: 50px;
} 
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.rate {
    padding: 2px;
    margin: 2px;
    width: 2rem;
    height: 2rem;
}


.checked {
  color: orange;
}
